@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat:wght@500&family=Nunito+Sans:wght@200;400&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Raleway:wght@300;400;500;600;700&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transition: .3s ease;

}

:root {
    /*Color*/
    --yellowColor: #e1f296;
    --lightGreenColor: #5aba8a;
    --darkGreencolor: #01565b;
    --textColor: #044561;
    --h1Color: #012e33;
    --cardColor: #4c9fa7;
    --whiteColor: hsl(0, 0%, 100%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(224, 39%, 80%);

    --h1FontSize: 2.5rem;
    --h2FontSize: 1.25rem;
    --h3Fontsize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestfontSize: .75rem;
}

html {
    font-size: 90%
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.icon {
    font-size: var(--h2FontSize);
}

.btn .icon {
    margin-left: .5rem;
}

.btn:hover {
    background: palegreen;
    color: var(--darkGreencolor)
}

img {
    width: 100%;
    height: auto;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    align-items: center;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: .8rem 1rem;
    font-weight: 600;
    color: var(--textColor);
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--darkGreencolor);
}

/*Default Body */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}
.container{
    position: relative;
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 1rem;
    overflow:  hidden;
}